 <div class='col-sm-10'>
            <span style = "visibility: hidden;">{{data}}</span>
            <h1 >Welcome to Local Library</h1>
            <h4>Below are the complete detail History of our library books!!</h4>
            <ul>
                <li><b>Books</b>: {{data.book_count}}</li>
                <li><b>Copies</b>: {{data.book_instance_count}}</li>
                <li><b>Copies Available</b>: {{data.book_instance_available_count}}</li>
                <li><b>Authors</b>: {{data.author_count}}</li>
                <li><b>Geners</b>: {{data.genre_count}}</li>
            </ul>
            </div>
        </div>
    </div>
</body>